<h1>You have selected <%= @game.title%>, here are all the availabel information for this game </h1>

    <%= @game.title %>
    <%= @game.genre %>


#game should have 2 ratings
    #rating 1. For age group (Game table)
    #rating 2. For gamers to review (review Table).

