body {
    background: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-position: center;
  }