// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  body {
    font-family: Arial;
    background: #f1f1f1;
  }

  .header {
    padding: 10px;
    text-align: center;
    background: white;
  }

  .header h1 {
    font-size: 35px;
  }

  .frame {   
    float: left;
    width: 100%;
  }

  .fakeimg {

    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/41c9f471-0f93-473e-a528-8730917e576f/d6csdrt-460aae0d-9a3a-4361-8f6f-d6a049be5249.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQxYzlmNDcxLTBmOTMtNDczZS1hNTI4LTg3MzA5MTdlNTc2ZlwvZDZjc2RydC00NjBhYWUwZC05YTNhLTQzNjEtOGY2Zi1kNmEwNDliZTUyNDkuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CPQeWMHbP7RA9kr2onpF6ZdKDiw0M7ihcNtSLaNKn1M) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;

  }

  .segment {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }